# Node modules
**/node_modules

# Next.js build
**/.next
**/out

# Express build
**/build

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Environment
.env*
*.pem

# Coverage
**/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
